<div class="panel-heading">
    <h3 class="pt-3 font-weight-bold">Sign in</h3>
</div>
<h5>...or <a href="/register">sign up</a> if you do not have an account</h5><br/>

<div class="mx-auto w-25">
    <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="text" [(ngModel)]="username" class="form-control" id="inputUsername" placeholder="Enter username"><br/>
      </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" [(ngModel)]="password" class="form-control" id="inputPassword" placeholder="Enter password"><br/>
    </div>
    <button type="submit" (click)="submit()" class="btn btn-primary">Submit</button><br/><br/>
    <h6 *ngIf="errorOutput">{{errorOutput}}</h6>
</div>

<!-- <h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="forecasts">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.date }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary }}</td>
        </tr>
    </tbody>
</table> -->