:host {
  width: 1280px;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

tr:nth-child(even) {
  margin-top: 2rem;
  border-bottom: 1px solid black;
}

.button-container {
  text-align: left;
}

tr:nth-child(odd) {
  margin-top: 2rem;
  border-bottom: 1px solid black;
}

th,
td {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
