<h1 id="tableLabel">Shortened URL Info</h1>
<br />

<table *ngIf="model" class="w-100">
  <tr>
    <th>Id</th>
    <td class="w-800">{{ model.id }}</td>
  </tr>
  <br />
  <tr>
    <th>Author Nickname</th>
    <td>{{ model.authorNickname }}</td>
  </tr>
  <br />
  <tr>
    <th>Full URL</th>
    <td>{{ model.fullUrl }}</td>
  </tr>
  <br />
  <tr>
    <th>Short URL</th>
    <td>{{ model.shortUrl }}</td>
  </tr>
  <br />
  <tr>
    <th>Clicks</th>
    <td>{{ model.clicks }}</td>
  </tr>
  <br />
  <tr>
    <th>Created At</th>
    <td>{{ model.createdAt }}</td>
  </tr>
</table>
